#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

#leftSection{
  display: flex;
  align-items: center;
}

#searchBar{
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.25);
  width: 0;
}

#spaceBar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

#middleSection{
  flex: 1;
  max-width: 600px;
  margin-left: 70px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

#rightSection{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 22px;
  flex-shrink: 0;
}

#hamMenue{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

#youtubeLogo{
  height: 20px;
}

#searchButton{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;

  position: relative;

}

#searchButton .toolTip,
#voiceButton .toolTip,
#uploadImageContainer .toolTip,
#appsContainer .toolTip,
#notificationsContainer .toolTip,
#profilePictureContainer .toolTip{
  position: absolute;
  background-color: grey;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

#searchButton:hover .toolTip,
#voiceButton:hover .toolTip,
#uploadImageContainer:hover .toolTip,
#appsContainer:hover .toolTip,
#notificationsContainer:hover .toolTip,
#profilePictureContainer:hover .toolTip{
  opacity: 1;
}


#searchButtonContainer,
#voiceButtonContainer,
#uploadImageContainer,
#appsContainer,
#notificationsContainer,
#profilePictureContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Roboto, Arial;
}


#voiceButton{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(250, 250, 250);
}

#searchIcon{
  height: 25px;
}

#voiceIcon{
  height: 24px;
}

#uploadImage{
  height: 28px;
}

#apps{
  height: 28px;
}

#notifications{
  height: 28px;
}

#notificationsContainer{
  position: relative;
}

#notifiactionCount{
  position: absolute;
  top: -1px;
  right: -1.5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

#profilePicture{
  height: 36px;
  border-radius: 18px;
}

#leftSection img{
  cursor: pointer;
}

#rightSection img{
  cursor: pointer;
}

#middleSection img{
  cursor: pointer;
}